<%= form_for @hobby do |h| %>

<p>
  <%= h.label :name %>
  <%= h.text_field :name%>
</p>
<p>
  <%= h.label :description %>
  <%= h.text_area :description %>
</p>
<p><%= h.submit :Submit %></p>
<% end %>
